@font-face {
  font-family: Apercu;
  src: url("../font/Apercu Bold.otf");
}

* {
	font-family: Apercu, Arial;
	margin: 0;
}

html, body { height: 100%; }
body {
  background:white;
  overflow: hidden;
}

#right-half {
	position: absolute;
	left:50%;
	width:50vw;
	height:100vh;
	background: blue;
}

#left-half {
	position: absolute;
	width:50vw;
	height:100vh;
}

#title{
	position:absolute;
	top:40%;
	left:2.5%;
	font-size: 200%;
	font-weight: bold;
}

.vertical-text {
	transform: rotate(-90deg);
	transform-origin: left top 0;
	float: left;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 43px solid transparent;
  border-bottom: 43px solid transparent;
  
  border-left: 70px solid rgba(253,251,251,1);
}

#play {
	position: absolute;
	left:43%;
	top: 36%;
	z-index: 5;
	opacity: .7
}

#play:hover{
	opacity:1;
}

/* #play-button {
	position: absolute;
	top:50%;
	left:32%;
	transform: translate(-50%,-50%);
	width:300px;
	height:300px;
	border-radius: 50%;
	opacity:0;
} */

.circle {
	position: absolute;
	top:50%;
	left:65%;
	transform: translate(-50%,-50%);
	width:300px;
	height:300px;
	border: 5px solid #fff;
	box-shadow: 0 0 0 5px rgb(0,120,215);
	border-radius: 50%;
	background: rgb(0,120,215);
	overflow: hidden;
}

.wave {
	position: relative;
	width:100%;
	height: 100%;
	background: rgb(0,120,215);
	border-radius: 50%;
	box-shadow: inset 0 0 50px rgba(0,0,0,0.5);
}
.wave:before,
.wave:after {
	content:'';
	position:absolute;
	width:200%;
	height:200%;
	top: 0;
	left:50%;
	transform: translate(-50%,-73%);
	/* background: white; */
	background:#e7eff6;
}

.wave:before {
	border-radius: 45%;
	opacity: 1;
	animation: animate 5s linear infinite;
}

.wave:after {
	border-radius: 40%;
	opacity: 0.5;
	animation: animate 8s linear infinite;
}

@keyframes animate{
	0%{
		transform:translate(-50%,-73%) rotate(0deg);
	}
	100%{
		transform:translate(-50%,-73%) rotate(360deg);
	}
}

.text-container {
	position: absolute;
	left: 35%;
	top:50%;
	transform: translate(-50%,-50%);
	line-height: 140%;
	font-size: 400%;
	width:100%;
	text-align: center;
}

/* #instruction-text {
	position: relative;
	text-align: center;
} */

#deco-box {
	background: #d3eeff;
	position: absolute;
	left: 9%;
	top: 19%;
	width: 320px;
	height: 260px;
	z-index: 1;
}

.svg-box {
	position:absolute;
}

#left-top-diagonal {
	left:18%;
	top:17%;
}

#right-bottom-diagonal {
	left:75%;
	top:70%;
}

/* #name-text {
	position: absolute;
	top:90%;
	left:3%;
	font-size: 150%;
} */
